::selection {
    color: #fff;
    background-color: #FFC1C1;
  }

.body{
    position: relative;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    text-indent: 0.5px;
}

.bg{
    position: absolute;
}
.bg--1{
    left: 0px;
    top: 1245px;
}
.bg--2{
    right: 0px;
    top: 3162px;
}
.bg--3{
    left: 0px;
    top: 3784px;
}
@media screen and (max-width: 914px) {
    .bg--3{
        display: none;
    }
}

.header{
    width: 20%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
@media screen and (max-width: 1201px) {
    .header{
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        background: #FFFBFB;
    }
}

.header.header--detail{
    background: #FFFBFB;
    height: 100%;
}
@media screen and (max-width: 1201px) {
    .header.header--detail{
        height: inherit;
    }
}

.logo{
    width: 100%;
    padding: 8%;
}

.logo--pc{
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1201px) {
    .logo--sp{
        padding: 0%;
        z-index: 1;
        position: relative;
        padding: 20px 0px;
    }
}

.logo img{
    width: 100%;
}
@media screen and (max-width: 1201px) {
    .logo--sp img{
        width: 150px;
        display: block;
        margin: auto;
    }
}
@media screen and (max-width: 914px) {
    .logo--sp img{
        width: 80px;
    }
}

/*メニュー*/
.menu{
    padding: 8% !important;
}
@media screen and (max-width: 1201px) {
    .menu--sp{
       display: block;
       position: absolute;
    }
    .menu--sp.is-open{
        position: fixed;
        z-index: 2;
        top: 100px;
        left: calc(50% - (190px / 2));
        padding: 0px;
    }
    .menu--sp > ul{
        transition: all 0s 0s;
        opacity: 0;
        transform: translateX(-10%);
    }
    .menu--sp.is-open > ul{
        transition: all .5s .5s;
        opacity: 1;
        transform: translateX(0%);
    }
}
@media screen and (max-width: 1201px) {
    .menu{
        padding: 0% !important;
    }
}

.menu > ul{
    background: #FFC1C1;
    border: #fff 1px solid;
    padding: 10px 0px;
    box-shadow: rgb(0 0 0 / .25) 4px 4px 4px;
    border-radius: 20px;
}
@media screen and (max-width: 1201px) {
    .menu > ul{
        box-shadow: 0px 0px 0px ;
        border-radius: 0px;
        border: 0px;
        background: none;
    }
}

.menu > ul li{
    font-size: 24px;
    font-weight: 500;
}
@media screen and (max-width: 1350px) {
    .menu > ul li{
        font-size: 20px;
    }
}
@media screen and (max-width: 1201px) {
    .menu > ul li{
        font-size: 20px;
        opacity: 0;
        transform: translateX(-10%);
        text-align: center;
    }

    .menu.is-open > ul li{
        opacity: 1;
        transform: translateX(0%);
    }
}

.menu > ul li a,
.menu > ul li span,
.menu_btn_arrow img{
    transition:all .5s;
}

.menu > ul li a:hover,
.menu > ul li span:hover{
    color: #F9907F;
}


.menu ul li a,
.menu ul li span
{
    display: block;
    color: #fff;
    padding: 10px 30px;
    background-size: cover;
}

.menu ul li i{
    font-style: normal;
    font-size:20px;
}
@media screen and (max-width: 1350px) {
    .menu ul li i{
        font-size: 15px;
    }
}

/*スマホメニュー*/
.menu-btn{
    display: none;
    width: 100px;
    height: 100px;
    background: #FFC1C1;
    position: fixed;
    top: 47px;
    right: 20px;
    border-radius: 100px;
    z-index:2;
    transition: all .5s;
}
@media screen and (max-width: 914px) {
    .menu-btn{
        width: 80px;
        height: 80px;
        top: 20px;
    }
}

.menu-btn.is-open{
    width: 100vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    border-radius: 0px;
    position: fixed;
}
.menu-btn.is-open ul{
    width:100vw;
}
.menu-btn.is-open ul li{
    left: calc(50% - 25px);
}
@media screen and (max-width: 914px) {
    .menu-btn.is-open ul li{
        left: calc(50% - 25px);
    }
}

.menu-btn.is-open ul li:first-child{
    transform: rotate(45deg);
    top: 50px;
}

.menu-btn.is-open ul li:last-child{
    transform: rotate(-45deg);
    top: 50px;
}

.menu-btn.is-open ul li:nth-child(2){
    opacity: 0;
}

@media screen and (max-width: 1201px) {
    .menu-btn{
        display: block;
        cursor: pointer;
    }
    .menu-btn ul{
        width: 100%;
        height: 100%;
    }
    .menu-btn ul li{
        display: inline-block;
        width: 50px;
        height: 4px;
        background: #FFFBFB;
        position: absolute;
        left: 25%;
        border-radius: 2px;
        transition: all .5s;
    }
    .menu-btn ul li:first-child{
        top: 34px;
    }
    .menu-btn ul li:nth-child(2){
        top: 48px;
        opacity: 1;
    }
    .menu-btn ul li:last-child{
        top: 63px;
    }
}
@media screen and (max-width: 914px) {
    .menu-btn ul li{
        left: 20%;
    }
    .menu-btn ul li:first-child{
        top: 25px;
    }
    .menu-btn ul li:nth-child(2){
        top: 40px;
        opacity: 1;
    }
    .menu-btn ul li:last-child{
        top: 55px;
    }
}

/*メイン*/
@media screen and (max-width: 1201px) {
    .main{
        padding: 20px 20px 0px 20px !important;
    }
}

.main-index{
    width: 80%;
    position: relative;
    left: 20%;
    padding: 3% 3% 0% 0%;
}
@media screen and (max-width: 1201px) {
    .main-index{
        width: 100%;
        position: relative;
        left: 0%;
        margin-top: 30px;
    }
}

.main-archive{
    width: 80%;
    margin-left: 20%;
}
@media screen and (max-width: 1201px) {
    .main-archive{
        width: 100%;
        margin-left:0%;
        padding: 0px !important;
    }
}

.main-index .main-index_catch {
    background: url("../image/top.png") no-repeat;
    background-size: cover;
    height: 460px;
    border-radius: 20px;
    position: relative;
    transition: all .5s;
}
.main-index .main-index_catch:hover{
    opacity: 0.7;
}
.main-index .main-index_catch:hover .main-index_btn{
    background: #F9907F;
}
@media screen and (max-width: 914px) {
    .main-index .main-index_catch{
        margin-bottom: 140px;
        height: 370px;
    }
}
@media screen and (max-width: 413px) {
    .main-index .main-index_catch{
        height: 300px;
    }
}
@media screen and (max-width: 321px) {
    .main-index .main-index_catch{
        height: 270px;
    }
}

@media screen and (max-width: 914px) {
    .main-index .main-index_catch h2{
        width: 100%;
        display: block;
    }
    .main-index .main-index_catch h2 img{
        width: 90%;
        left: 0px;
        position: relative;
        display: block;
        margin: auto;
    }
}

.main-index .main-index_catch a{
    display: block;
    width: 100%;
    height: 460px;
}
@media screen and (max-width: 914px) {
    .main-index .main-index_catch a{
        height: 370px;
    }
}


.main-index .main-index_catch img{
    position: absolute;
    top: 91px;
    left: 49px;
}

.main-index_btn{
    background: #FFC1C1;
    position: absolute;
    left: calc(50% - (347px / 2));
    width: 347px;
    text-align: center;
    bottom: 98px;
    color: #fff;
    padding: 15px 0px;
    font-weight: 500;
    border-radius: 20px;
    transition: all .5s;
}

@media screen and (max-width: 914px) {
    .main-index_btn{
        width: 80%;
        left: 10%;
        bottom: 20px;
    }
}

.main-index_slider{
    overflow: hidden;
    height: 206px;
    margin: 10px 10px 200px 10px;
}
@media screen and (max-width: 914px) {
    .main-index_slider{
        display: none;
    }
}

.main-index_slider_items div {
    padding: 0px 1.5px;
    background: #fff;
}

.main-index_slider_items div img{
    width: 100%;
}

/*category*/
.menu_btn{
    cursor: pointer;
    position: relative;
}
.menu_btn_arrow{
    transform: rotate(90deg);
    transition: transform .5s;
    width: 18px;
    height: 10px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 16px;
}
.menu_btn.is-open .menu_btn_arrow{
    transform: rotate(-90deg);
}

.menu_btn_arrow img{
    width:100%;
}
.menu_category{
    display: none;
}
.menu_category li{
    font-size: 14px !important;
    padding-left: 20px;
}
@media screen and (max-width: 1260px) {
.menu_category li{
    font-size: 12px !important;
    padding-left: 0px;
    text-align: center;
}
}

/*検索*/
.side-search{
    padding: 8%;
}
@media screen and (max-width: 1201px) {
    .side-search{
        display: none;
    }
}

.side-search_box{
    border: 1px solid #FFC1C1;
    border-radius: 20px;
    width: 100%;
    box-shadow: rgb(0 0 0 / .25) 4px 4px 4px;
    background: #fff;
    display: flex;
}

.side-search_box_text{
    width: 80%;
    padding: 10px;
    font-size: 14px;
}

.side-search_box_button{
    width: 20%;
    text-align: center;
    padding: 10px;
}

.side-search_box_button svg path{
    fill: #FFC1C1;
}
/*btn*/
.btn{
    background: #FFC1C1;
    color: #fff;
    padding: 15px 0px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    transition: all .5s;
}
.btn:hover{
    background: #F9907F;
}
@media screen and (max-width: 914px) {
    .btn{
        font-size: 16px !important;
    }
}

.btn span{
    position: absolute;
    top: 20px;
    left: calc(50% + 60px);
}
@media screen and (max-width: 914px) {
    .btn span{
        top: 18px;
    }
}

.btn--index{
    font-size: 20px;
    width: 276px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - (276px / 2));
    bottom: -20px;
}

.btn--keisoku{
    font-size: 20px;
    display: block; 
    margin: auto;
    font-size: 15px;
    margin-top: 10px;
    background: #F9907F;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}
.btn--keisoku:hover{
    background: #FFC1C1;
}
@media screen and (max-width: 914px) {
    .btn--keisoku{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*はやちっぷとは*/
.main-index_content{
    margin: 8% 8% 20% 8%;
    background: #FFFBFB;
    box-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    position: relative;
}
@media screen and (max-width: 914px) {
    .main-index_content{
        margin: 0px 0px 150px 0px;
    }
}

.main-index_content_item{
    width: 274px;
    position: absolute;
    top: -180px;
    left: -170px;
    z-index: 1;
}
@media screen and (max-width: 1201px) {
    .main-index_content_item{
        left: -80px !important;
        top: -234px !important;
    }
}
@media screen and (max-width: 914px) {
    .main-index_content_item{
        display: none;
    }
}

.main-index_content_item img{
    width: 100%;
}

.main-index_content--right{
    padding: 3% 8% 3% 3%;
}

.main-index_content--left{
    padding: 3% 3% 3% 8%;
}
@media screen and (max-width: 914px) {
    .main-index_content--left{
        padding: 15px 15px 15px 15px;
    }
}

.main-index_content--btn{
    padding: 3% 8% 9% 3% !important;
}
@media screen and (max-width: 914px) {
    .main-index_content--btn{
        padding: 15px 15px 100px 15px !important;
    }
}

.main-index_content_title{
    background: #FFC1C1;
    display: inline-block;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    padding: 10px 10px 30px 10px;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    line-height: 5.0rem;
    letter-spacing: 1.2rem;
    text-indent: 1em;
    border-radius: 30px;
}
@media screen and (max-width: 914px) {
    .main-index_content_title{
        font-size: 24px;
        line-height: 4.0rem;
        -ms-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
        text-indent: 0;
        padding: 10px 10px 10px 10px;
        margin-bottom: 30px !important;
        letter-spacing: 1rem;
        display: block;
        margin: auto;
        position: static;
        right:initial !important;
        margin-top: -50px;
        text-align: center;
    }
}

.main-index_content_title span{
    font-size: 32px;
}
@media screen and (max-width: 914px) {
    .main-index_content_title span{
        font-size: 16px;
    }
}

.main-index_content_title--right{
    right: -45px;
    top: -120px;
}
@media screen and (max-width: 914px) {
    .main-index_content_title--right{
        right:0px;
    }
}

.main-index_content_title--right strong{
    font-size: 36px;
    font-weight: bold;
}
@media screen and (max-width: 914px) {
    .main-index_content_title--right strong{
        font-size: 16px !important;
    }
}

.main-index_content_title--left{
    left: -45px;
    top: -120px;
}
@media screen and (max-width: 914px) {
    .main-index_content_title--left{
        left: 0px;
    }
}

.main-index_content_text{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 100px;
}
@media screen and (max-width: 914px) {
    .main-index_content_text{
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 25px;
    }
}

.main-index_content_text--kounyu{
    margin-bottom: 50px;
}

.main-index_content_inner_title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    margin-bottom: 48px;
}
@media screen and (max-width: 914px) {
    .main-index_content_inner_title{
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 29px;
        -webkit-text-stroke-width: 0.5px;
    }
}

@media screen and (max-width: 914px) {
    .main-index_content_inner_left{
        line-height: 29px;
    }
}


.main-index_content_inner_group{
    display: flex;
}
@media screen and (max-width: 914px) {
    .main-index_content_inner_group{
        display: block;
    }
}

.main-index_content_inner_group p{
    font-size: 20px;
    padding-left: 10px;
    line-height: 35px;
}
@media screen and (max-width: 914px) {
    .main-index_content_inner_group p{
        font-size: 16px;
        padding-left: 0px;
        line-height: 29px;
    }
}

.main-index_content_inner_group_figure{
    width: 244px;
}
@media screen and (max-width: 914px) {
    .main-index_content_inner_group_figure{
        width: 100%;
    }
    .main-index_content_inner_group_figure img{
        width: 100%;
    }
}

/*作者について*/
.main-index_content_inner--sakusya{
    display: flex;
    font-size: 20px;
    line-height: 35px;
}
@media screen and (max-width: 914px) {
    .main-index_content_inner--sakusya{
        font-size: 16px;
        display: block;
    }
}

.main-index_content_title--sakusya strong{
    font-size: 64px;
    font-weight: 500;
}
@media screen and (max-width: 914px) {
    .main-index_content_title--sakusya strong{
        font-size: 32px;
    }
}


.main-index_content_title--sakusya span{
    font-size: 40px;
}
@media screen and (max-width: 914px) {
    .main-index_content_title--sakusya span{
        font-size: 20px;
    }
}

.main-index_content_title--sakusya i{
    font-style: normal;
    font-size: 32px;
}
@media screen and (max-width: 914px) {
    .main-index_content_title--sakusya i{
        font-size: 16px;
    }
}

.main-index_content_inner--sakusya h4{
    margin-top: 40px !important;
}

.main-index_content_inner--sakusya ul li{
    list-style: disc;
    margin-left: 40px;
}

.main-index_content_inner_image{
    width: 324px;
}
@media screen and (max-width: 914px) {
    .main-index_content_inner_image{
        margin-top: 30px;
    }
    .main-index_content_inner_image,
    .main-index_content_inner_image img{
        width: 100%;
    }
}

/*はやちっぷが選ばれる3つの理由*/
.reason{
    position: relative;
    padding: 0px 11%;
}
@media screen and (max-width: 1201px) {
    .reason{
        padding: 0px;
    }
}

.reason-tiele{
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.reason-tiele_sub{
    font-size: 14px;
    letter-spacing: 0.3em;
    display: block;
    padding-bottom: 20px;
    font-weight: 500;
}

.reason-tiele_sub-title{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.15em;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}

.reason-tiele_sub-title strong{
    font-weight: 600;
    font-size: 48px;
    margin-right: -10px;
}

.reason-tiele_sub-title i{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin: 0px -10px;
}

.reason-section{
    margin-bottom: 100px;
}
@media screen and (max-width: 914px) {
    .reason-section{
        margin-bottom: 50px;
    }
}

.reason-section_item{
    position: absolute;
    top: 0px;
    left: 0%;
}

.reason-section--last{
    margin-bottom: 200px;
}
@media screen and (max-width: 914px) {
    .reason-section--last{
        margin-bottom: 100px;
    }
}

.reason-section_figure{
    text-align: center;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 914px) {
    .reason-section_figure{
        width: 100%;
    }

    .reason-section_figure img{
        width: 100%;
    }
}

.reason-section_inner{
    margin-top: -50px;
}

.reason-section_inner_text{
    background: #fff;
    display: block;
    position: relative;
    font-size: 16px;
    line-height:35px;
    width: 667px;
    margin: auto;
}
@media screen and (max-width: 914px) {
    .reason-section_inner_text{
        width: 100%;
        padding: 0px 30px 30px 30px;
    }
}

.reason-section_inner_title{
    text-align:center;
    position: relative;
    z-index: 2;
}

.reason-section_inner_title_item{
    display: inline-block;
    padding: 20px 10%;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
}

/*パンくず*/
.breadcrumbs{
    padding: 5px 56px 50px 56px;
}
@media screen and (max-width: 1201px) {
    .breadcrumbs{
        padding: 5px 15px 50px 15px;
    }
}

.breadcrumbs_group_item--home path{
    fill: #FFC1C1 !important;
}

.breadcrumbs_group_item--home svg{
    width: 20px;
    position: relative;
    top: 2px;
}
.breadcrumbs_group_item--home a{
    display: inline-block;
    color: #FFC1C1;
    text-decoration: underline;
}
.breadcrumbs_group_item--home a:hover{
    text-decoration: none;
}

.breadcrumbs_group_item a{
    color: #FFC1C1;
    text-decoration: underline;
}
.breadcrumbs_group_item a:hover{
    text-decoration: none;
}

.breadcrumbs_group_item{
    display: inline-block;
}

.breadcrumbs_group_item:before{
    content: ">";
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 5px;
}
.breadcrumbs_group_item:first-child:before{
    display: none;
}

/*下層タイトル*/
.main-archive_title{
    background: #FFC1C1;
    font-size: 32px;
    color: #fff;
    padding: 30px 56px;
}
@media screen and (max-width: 1201px) {
    .main-archive_title{
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }
}

/*一覧ページ*/
.main-archive_inner{
    padding: 0px 110px;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1201px) {
    .main-archive_inner{
        padding: 0px 15px;
    }
}

.main-archive_inner_item{
    width: 33.333333%;
    padding: 0px 4.5px 60px 4.5px;
    position: relative;
}
@media screen and (max-width: 914px) {
    .main-archive_inner_item{
        width: 50%;
    }
}
@media screen and (max-width: 490px) {
    .main-archive_inner_item{
        width: 100%;
    }
}

.main-archive_inner_item a:hover .main-archive_inner_item_img img{
    transform: scale(1.2);
}

.main-archive_inner_item_title{
    padding: 0px 20px;
    margin: 10px 0px;
    font-size: 16px;
    line-height: 25px;
    transition: all .3s;
}
.main-archive_inner_item a:hover .main-archive_inner_item_title{
    color: #F9907F;
}

.main-archive_inner_item_img{
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s;
}
.main-archive_inner_item a:hover .main-archive_inner_item_img{
    box-shadow: 0px 0px 0px;
}

.main-archive_inner_item_img,
.main-archive_inner_item_img img{
    width: 100%;
}

.main-archive_inner_item_img img{
    transform: scale(1);
    transition: all .5s;
}

.main-archive_inner_item_category{
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: -10px;
    z-index: 1;
}

.main-archive_inner_item_category span{
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
}

.main-archive_inner_item_category--short span{
    background: #FF6F61;
}
.main-archive_inner_item_category--long span{
    background: #A761FF;
}
.main-archive_inner_item_category--foot span{
    background: #61A0FF;
}
.main-archive_inner_item_category--earrings span{
    background: #FF72A5;
}
.main-archive_inner_item_category--measurement span{
    background: #51D9B8;
}

.main-archive_inner_item_price{
    padding: 0px 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    transition: all .3s;
}

.main-archive_inner_item a:hover .main-archive_inner_item_price{
    color: #FF6F61;
}

.main-archive_inner_item_price span{
    font-size: 16px;
}

/*もっと見るボタン*/
.more-btn{
    text-align: center;
    margin-bottom: 100px;
}

.more-btn span{
    border-radius: 40px;
    font-size: 32px;
    padding: 20px 100px;
    font-weight: 500;
    cursor: pointer;
}

.more-btn span i{
    font-style: normal;
    font-size: 24px;
}
@media screen and (max-width: 914px) {
    .more-btn span i{
        font-size: 12px;
    }
}

/*詳細ページ*/
.main-single_inner{
    padding: 0px 56px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.main-archive_inner_item_img--single{
    width: calc(50% - 35px);
}

.main-single_inner_content{
    width: 50%;
    padding-left: 35px;
}

.main-single_inner_content_title{
    font-size: 24px;
    margin-bottom: 20px;
}

.main-single_inner_content_text{
    font-size: 20px;
    margin-bottom: 20px;
}

.main-single_inner_content_category{
    margin-bottom: 40px;
    font-size: 20px;
    display: block;
}

.main-single_inner_content_category a{
    transition: all .5s;
}

.main-single_inner_content_category a:hover{
    color: #FF6F61;
}

.main-single_inner_content_category i{
    font-style: normal;
}

.main-single_inner_content_price{
    font-size: 32px;
    font-family: "Inter", sans-serif;
}

.main-single_inner_content_price span{
    font-size: 16px;
}

.main-single_inner_content_price strong{
    font-weight: 400;
    margin-left: 5px;
}

/*フッター*/
.footer{
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFBFB;
    background: #FFC1C1;
    padding: 10px 0px;
}

.footer--detail{
    width: 80%;
    margin-left: 20%;
}
@media screen and (max-width: 1201px) {
    .footer--detail{
        width: 100%;
        margin-left: 0%;
    } 
}