.body{
    position: relative;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    text-indent: 0.5px;
}

.header{
    width: 20%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
@media screen and (max-width: 1201px) {
    .header{
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        background: #FFFBFB;
    }
}

.logo{
    width: 100%;
    padding: 8%;
}

.logo--pc{
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1201px) {
    .logo--sp{
        padding: 0%;
        z-index: 100;
        position: relative;
        padding: 20px 0px;
    }
}

.logo img{
    width: 100%;
}
@media screen and (max-width: 1201px) {
    .logo--sp img{
        width: 150px;
        display: block;
        margin: auto;
    }
}

.menu{
    padding: 8%;
}
@media screen and (max-width: 1201px) {
    .menu--sp{
       display: none;
    }
}

.menu ul{
    background: #FFC1C1;
    border: #fff 1px solid;
    padding: 10px 0px;
    box-shadow: rgb(0 0 0 / .25) 4px 4px 4px;
    border-radius: 20px;
}

.menu ul li{
    font-size: 24px;
    font-weight: 500;
}
@media screen and (max-width: 1350px) {
    .menu ul li{
        font-size: 20px;
    }
}

.menu ul li a{
    display: block;
    color: #fff;
    padding: 10px 30px;
    background-size: cover;
}

.menu ul li i{
    font-style: normal;
    font-size:20px;
}
@media screen and (max-width: 1350px) {
    .menu ul li i{
        font-size: 15px;
    }
}

@media screen and (max-width: 1201px) {
    .main{
        padding: 20px 20px 0px 20px !important;
    }
}

.main-index{
    width: 80%;
    position: relative;
    left: 20%;
    padding: 3% 3% 0% 0%;
}
@media screen and (max-width: 1201px) {
    .main-index{
        width: 100%;
        position: relative;
        left: 0%;
        margin-top: 30px;
    }
}

.main-index .main-index_catch {
    background: url("../image/top.png") no-repeat;
    background-size: cover;
    height: 460px;
    border-radius: 20px;
    position: relative;
}

.main-index .main-index_catch img{
    position: absolute;
    top: 91px;
    left: 49px;
}

.main-index_btn{
    background: #FFC1C1;
    position: absolute;
    left: calc(50% - (347px / 2));
    width: 347px;
    text-align: center;
    bottom: 98px;
    color: #fff;
    padding: 15px 0px;
    font-weight: 500;
    border-radius: 20px;
}

.main-index_slider{
    overflow: hidden;
    height: 206px;
    margin: 10px 10px 200px 10px;
}

.main-index_slider_items div {
    padding: 0px 1.5px;
    background: #fff;
}

.main-index_slider_items div img{
    width: 100%;
}

/*btn*/
.btn{
    background: #FFC1C1;
    color: #fff;
    padding: 15px 0px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
}

.btn span{
    position: absolute;
    top: 20px;
    left: calc(50% + 60px);
}

.btn--index{
    font-size: 20px;
    width: 276px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - (276px / 2));
    bottom: -20px;
}

.btn--keisoku{
    font-size: 20px;
    display: block; 
    margin: auto;
    font-size: 15px;
    margin-top: 10px;
    background: #F9907F;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

/*はやちっぷとは*/
.main-index_content{
    margin: 8% 8% 20% 8%;
    background: #FFFBFB;
    box-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    position: relative;
}

.main-index_content_item{
    width: 274px;
    position: absolute;
    top: -180px;
    left: -170px;
    z-index: 1;
}

.main-index_content_item img{
    width: 100%;
}

.main-index_content--right{
    padding: 3% 8% 3% 3%;
}

.main-index_content--left{
    padding: 3% 3% 3% 8%;
}

.main-index_content--btn{
    padding: 3% 8% 9% 3% !important;
}

.main-index_content_title{
    background: #FFC1C1;
    display: inline-block;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    padding: 10px 10px 30px 10px;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    line-height: 5.0rem;
    letter-spacing: 1.2rem;
    text-indent: 1em;
    border-radius: 30px;
}

.main-index_content_title span{
    font-size: 32px;
}

.main-index_content_title--right{
    right: -45px;
    top: -120px;
}

.main-index_content_title--right strong{
    font-size: 36px;
    font-weight: bold;
}

.main-index_content_title--left{
    left: -45px;
    top: -120px;
}

.main-index_content_text{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 100px;
}

.main-index_content_text--kounyu{
    margin-bottom: 50px;
}

.main-index_content_inner_title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: rgb(0 0 0 / .25) 2px 4px 4px;
    margin-bottom: 48px;
}

.main-index_content_inner_group{
    display: flex;
}

.main-index_content_inner_group p{
    font-size: 20px;
    padding-left: 10px;
    line-height: 35px;
}

.main-index_content_inner_group_figure{
    width: 244px;
}

/*作者について*/
.main-index_content_inner--sakusya{
    display: flex;
    font-size: 20px;
    line-height: 35px;
}

.main-index_content_title--sakusya strong{
    font-size: 64px;
    font-weight: 500;
}

.main-index_content_title--sakusya span{
    font-size: 40px;
}

.main-index_content_title--sakusya i{
    font-style: normal;
    font-size: 32px;
}

.main-index_content_inner--sakusya h4{
    margin-top: 40px !important;
}

.main-index_content_inner--sakusya ul li{
    list-style: disc;
    margin-left: 40px;
}

.main-index_content_inner_image{
    width: 324px;
}

/*はやちっぷが選ばれる3つの理由*/
.reason{
    position: relative;
    padding: 0px 11%;
}

.reason-tiele{
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.reason-tiele_sub{
    font-size: 14px;
    letter-spacing: 0.3em;
    display: block;
    padding-bottom: 20px;
    font-weight: 500;
}

.reason-tiele_sub-title{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.reason-tiele_sub-title strong{
    font-weight: 600;
    font-size: 48px;
    margin-right: -10px;
}

.reason-tiele_sub-title i{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin: 0px -10px;
}

.reason-section{
    margin-bottom: 100px;
}

.reason-section_item{
    position: absolute;
    top: 0px;
    left: 0%;
}

.reason-section--last{
    margin-bottom: 200px;
}

.reason-section_figure{
    text-align: center;
    position: relative;
    z-index: 1;
}

.reason-section_inner{
    margin-top: -50px;
}

.reason-section_inner_text{
    background: #fff;
    display: block;
    position: relative;
    font-size: 16px;
    line-height:35px;
    width: 667px;
    margin: auto;
}

.reason-section_inner_title{
    text-align:center;
    position: relative;
    z-index: 2;
}

.reason-section_inner_title_item{
    display: inline-block;
    padding: 20px 10%;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
}

.footer{
    text-align: center;
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 500;
    color: #FFC1C1;
}